params {
  genome = "$launchDir/data/combinedFasta.fa"
  region = "$launchDir/data/region.txt"
  outputDir = "$launchDir/output"
  makepositionarraycoding = "$launchDir/bin/makepositionarraycoding.pl"
}
process {
  withName: 'runSamtools' {
    container = 'docker://biocontainers/samtools:v1.9-4-deb_cv1'
  }    
}
singularity {
    enabled = true
}


